body {
	background-color: #bad8eb;
}
h1 {
    text-align: center;
}
.container {
    background-color: #fff;
    height: 500px;
    width: 100%;
    background-color: #bad8eb;
    background-repeat: no-repeat;
    background-position: center;
}
.container2 {
    text-align: center;
}